footer.footer
    .container
        .row
            .col-md-4
                a(class="footer-logo" href="index.html")
                    img(src="img/icons/logo.svg")
            .col-md-4
                .footer-item
                    .footer-item-top
                        h4.title-5 Вінлок

                    ul.footer-item-list
                        li
                            a(class="description-2" href="catalog.html") Каталог
                        li
                            a(class="description-2" href="about.html") Про нас
                        li
                            a(class="description-2" href="cooperation.html") Співпраця
                        li
                            a(class="description-2" href="blog.html") Блог
                        li
                            a(class="description-2" href="contact.html") Конаткти


            .col-md-5
                .footer-item
                    .footer-item-top
                        h4.title-5 Двері

                    ul.footer-item-list
                        li
                            a(class="description-2" href="") Для будинку
                        li
                            a(class="description-2" href="") Для квартири
                        li
                            a(class="description-2" href="") Протипожежні
                        li
                            a(class="description-2" href="") Технічні
                        li
                            a(class="description-2" href="") В під’їзд
                        li
                            a(class="description-2" href="") Дизайнерські

            .col-md-5
                .footer-item

                    .footer-item-top
                        h4.title-5 Соц. мережі

                    ul.footer-item-list
                        li
                            a(class="description-2" href="") Facebook
                        li
                            a(class="description-2" href="about.html") Instagram
                        li
                            a(class="description-2" href="cooperation.html") Viber


            .col-md-6
                .footer-item
                    .footer-item-top
                        h4.title-5 Контакти

                    ul.footer-item-list
                        li
                            a(class="description-2" target="_blank" href="https://goo.gl/maps/sbRF78kuuk7TovmAA") м. Чернівці, вул. Заводська, 37в
                        li
                            a(class="description-2" target="_blank" href="mailto:winlockdverioptom@gmail.com") winlockdverioptom@gmail.com
                        li
                            a(class="description-2 phone" target="_blank" href="tel:+380503745635") +38 (050) 374-56-35

        .row
            .col-24
                .footer-bottom
                    a(class="footer-year") © 2006-2020 Winlock

                    a(class="footer-dev" target="_blank" href="https://www.kifa.ws/") Powered by <span> Kifa </span>




script(src='dist/scripts.min.js')
script(async="" defer="defer" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDZFgWU3gIM0PmGfVbyWerT89A8ttSV_i8&callback=initMap" type="text/javascript")
script(src='js/script.js')