meta(charset="utf-8", http-equiv="X-UA-Compatible", content="IE=edge")
meta(name="viewport", content="width=device-width, initial-scale=1")
meta(property="og:locale", content="ru_RU")
meta(property="og:type", content="article")
meta(property="og:title", content="Winlock")
meta(property="og:description", content="Winlock")
meta(property="og:url", content="Winlock")
meta(name="theme-color", content="#E4801D")

title Winlock

link(rel="shortcut icon", href="/img/favicon.ico", type="image/x-icon")
link(rel='stylesheet', href='css/main.css')
link(rel='stylesheet', href='css/media.css')
link(rel='stylesheet', href='dist/styles.min.css')